<section id="missions" class="missions">
	<h2>Mes Missions</h2>
	<div class="missions-grid">
		{% include 'cardMissions/_cardMissions.html.twig' with {
        title: 'Dévéloppement Web',
        description: 'Création de sites web modernes et responsifs',
    } %}
		{% include 'cardMissions/_cardMissions.html.twig' with {
		title: 'Applications Mobiles',
		description: 'Développement d\'applications iOS et Android',
	} %}
	{% include 'cardMissions/_cardMissions.html.twig' with {
		title: 'Design UI/UX',
		description: 'Création d\'interfaces utilisateur intuitives',
	} %}
	</div>
</section>
