<section id="accueil" class="hero">
            <div class="hero-content">
                <h1 class="animate-text">{{titlePartA}}</h1>
                <p class="animate-text-delay">{{titlePartB}}</p>
                <a href="#contact" class="cta-button">Me Contacter</a>
            </div>
        </section>